In [6]:
import os 

import numpy as np
import pandas as pd


from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [7]:
data_train = pd.read_csv('train.csv')
data_test = pd.read_csv('test.csv')

df_test = pd.DataFrame(data_test)
df_train = pd.DataFrame(data_train)

df_train.replace([np.inf, -np.inf], np.nan, inplace = True)

data_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [8]:
df_train = df_train.dropna()

df_train['Sex'] = df_train['Sex'].str.replace('female','0')
df_train['Sex'] = df_train['Sex'].str.replace('male','1')

df_train['Embarked'] = df_train['Embarked'].str.replace('C','0')
df_train['Embarked'] = df_train['Embarked'].str.replace('S','1')
df_train['Embarked'] = df_train['Embarked'].str.replace('Q','2')



df_test['Sex'] = df_test['Sex'].str.replace('female','0')
df_test['Sex'] = df_test['Sex'].str.replace('male','1')

df_test['Embarked'] = df_test['Embarked'].str.replace('C','0')
df_test['Embarked'] = df_test['Embarked'].str.replace('S','1')
df_test['Embarked'] = df_test['Embarked'].str.replace('Q','2')

df_train.tail()
df_test.tail()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
413,1305,3,"Spector, Mr. Woolf",1,NaN,0,0,A.5. 3236,8.0500,NaN,1
414,1306,1,"Oliva y Ocana, Dona. Fermina",0,39.0,0,0,PC 17758,108.9000,C105,0
415,1307,3,"Saether, Mr. Simon Sivertsen",1,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,1
416,1308,3,"Ware, Mr. Frederick",1,NaN,0,0,359309,8.0500,NaN,1
417,1309,3,"Peter, Master. Michael J",1,NaN,1,1,2668,22.3583,NaN,0

In [9]:
X = df_train.drop(["Name","Ticket","Cabin", "Survived", "PassengerId"], axis = 1)
y = df_train["Survived"]

X_testfinal = df_test.drop(["Name","Ticket","Cabin", "PassengerId"], axis=1)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 0)

In [13]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(random_state=0)
model.fit(X_train, y_train)
prediction = model.predict(X_test)

print("Accuracy:", metrics.accuracy_score(prediction, y_test))

Accuracy: 0.7608695652173914

In [20]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

print("Accuracy:", metrics.accuracy_score(prediction, y_test))

Accuracy: 0.7608695652173914

In [35]:
from sklearn.ensemble import GradientBoostingClassifier

gb = GradientBoostingClassifier(n_estimators = 10, max_features = 3, max_depth = 2, random_state =0)
gb.fit(X_train,y_train.values.ravel())
pred = gb.predict(X_test)

print("Accuracy:", gb.score(X_test,y_test))

Accuracy: 0.8695652173913043